* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --------------- SASS VARIABLES --------------- */
.material-icons,
.material-symbols-outlined {
  font-size: 36px;
  line-height: 0px;
  transform: translate(-5px, 12px);
}

.formInfoIcon {
  font-size: 30px;
  transform: translate(5px, 5px);
  cursor: pointer;
}

/* --------------- COMMON ---------------- */
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  touch-action: manipulation;
}

.logoMobile {
  display: none;
}

.backToTopBtn {
  position: fixed;
  right: 2rem;
  bottom: 3rem;
  background-color: rgba(0, 0, 0, 0.226);
  padding: 0.3rem;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1;
}
.backToTopBtn img {
  filter: invert(33%) sepia(57%) saturate(6837%) hue-rotate(349deg) brightness(93%) contrast(83%);
  transform: rotate(180deg);
  width: 40px;
}

/* --------------- BUTTON --------------- */
button {
  padding: 0.7rem;
  cursor: pointer;
  background-color: rgb(65, 102, 172);
  color: white;
  font-family: "Poppins", sans-serif;
  border: none;
  width: 140px;
  margin-bottom: 2rem;
}

/* --------------- FOOTER --------------- */
footer {
  background-color: rgb(0, 0, 0);
}
footer p {
  color: rgb(224, 224, 224);
  font-size: 10px;
  margin-top: 2rem;
  padding: 1rem;
}
footer .navFooter {
  display: flex;
  justify-content: flex-end;
  margin-right: 150px;
}
footer .footerLogo {
  filter: invert(1);
  padding: 2rem;
}
footer .footerSlogan {
  color: rgb(65, 65, 65);
  width: 400px;
  margin-left: 3rem;
}

/* --------------- NAVIGATION ---------------- */
.logo {
  padding: 1rem;
}
.logo img {
  width: 300px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
nav ul {
  display: flex;
  margin-right: 100px;
}
nav li {
  list-style: none;
}
nav a {
  text-decoration: none;
  color: rgb(65, 65, 65);
  margin-left: 1rem;
  margin-right: 1rem;
}

.mobileBtnContainer {
  display: none;
}

/* --------------- FORM PAGE --------------- */
/* --------------- DROPDOWN MENU --------------- */
.formHeading {
  width: 1250px;
  margin: auto;
  color: rgb(65, 65, 65);
}
.formHeading .closeOpenAll {
  display: flex;
}
.formHeading .closeOpenAll p {
  margin-right: 1.5rem;
  cursor: pointer;
}

.dropdownMenu {
  width: 1250px;
  margin: auto;
  margin-bottom: 400px;
}

.dropdownMenuItemTitle {
  background-color: #DB2F2F;
  border: solid 1px rgb(65, 65, 65);
  color: rgb(224, 224, 224);
  font-weight: bold;
  padding: 1rem;
  margin-top: 12px;
  cursor: pointer;
  pointer-events: all;
}

.dropdownMenuItemTitle:hover {
  background: rgb(65, 65, 65);
  color: rgb(224, 224, 224);
}

.dropdownMenuItemData {
  margin: 0;
  overflow: hidden;
  transition: height 0.6s ease-out;
}

.dropdownMenuItemData.hide {
  height: 0;
}

.dropdownMenuItemData.show {
  height: var(--openHeight);
}

.titleSpan2mark {
  color: rgb(76, 168, 33);
}

.titleSpanDiv {
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}
.titleSpanDiv img {
  width: 20px;
  margin-right: 1rem;
  transform: translate(0px, 5px);
  transition: 0.3s ease-in-out;
}

.dropdownMenuProgressBar {
  width: 200px;
  background-color: rgb(221, 221, 221);
  border-radius: 5px;
  border: 1px solid rgb(65, 65, 65);
  text-align: center;
  color: rgb(68, 68, 68);
}

.dropdownMenuProgressBarColor {
  height: 100%;
  /* background-image: linear-gradient( rgb(252, 252, 252), rgb(27, 194, 21)); */
  /* background-image: linear-gradient(rgb(252, 252, 252), rgb(59, 168, 55)); */
  background-image: linear-gradient(rgb(252, 252, 252), green);
  border-radius: 3.5px;
  border-right: 1px solid rgb(65, 65, 65);
}

.flipArrow img {
  rotate: -180deg;
  transform: translate(0px, 0px);
}

/* --------------- FORMS --------------- */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  margin-bottom: 3rem;
  background-color: rgb(224, 224, 224);
  border-left: 1px rgb(65, 65, 65) solid;
  border-right: 1px rgb(65, 65, 65) solid;
  border-bottom: 1px rgb(65, 65, 65) solid;
}
form img {
  width: 20px;
  opacity: 0.7;
  transform: translate(0, -20px);
  cursor: pointer;
}
form div {
  display: flex;
  flex-direction: column;
  width: 400px;
}
form input,
form textarea,
form select {
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  width: 400px;
  outline-color: #35791a;
  font-family: Arial, Helvetica, sans-serif;
}
form label {
  color: rgb(82, 82, 82);
  font-size: 15px;
}
form input[type=checkbox] {
  width: 30px;
  height: 30px;
  margin-top: 1rem;
  align-self: flex-end;
}
form .formDisabilityBox {
  border-bottom: 1px solid gray;
  margin-bottom: 1rem;
}

.formInfoBox {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  border: 1px solid rgb(65, 65, 65);
  border-radius: 5px;
  padding: 0.5rem;
  background-color: rgb(252, 252, 195);
  position: absolute;
  width: 300px;
  transform: translate(420px, -20px);
  display: none;
  cursor: pointer;
  z-index: 1;
}

.formInfoBoxCloseBtn {
  margin-bottom: 0.5rem;
  text-align: end;
  transform: translate(10px, -5px);
}
.formInfoBoxCloseBtn span {
  font-size: 25px;
}

.formRequirementsParagraph {
  width: 70%;
}

.formRequirementsAcknowledgementBox {
  border: 1px solid rgb(65, 65, 65);
  padding: 1rem;
  margin-bottom: 2rem;
  font-weight: bolder;
}

/* ---------------- LANDING PAGE CSS ---------------- */
.Top-section {
  display: flex;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.statusbox {
  margin-right: 10px;
  margin-top: 1%;
  margin-bottom: 2rem;
  width: 40%;
  text-align: center;
  padding: 1%;
  background-color: #DB2F2F;
  border-radius: 10px;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.statusbox h1 {
  font-size: 45px;
  padding: 2%;
  color: white;
}
.statusbox h2 {
  font-size: 35px;
  padding: 2%;
}

.notifications {
  width: 40%;
  margin-top: 1%;
  margin-bottom: 2rem;
  text-align: center;
  padding: 1%;
  background-color: #DB2F2F;
  border-radius: 10px;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.notifications h1 {
  font-size: 45px;
  padding: 3%;
  color: white;
}
.notifications h2 {
  font-size: 85px;
  padding: 3%;
  display: inline-block;
  margin-inline: 5%;
}
.notifications h3 {
  display: inline-block;
  font-size: 35px;
}
.notifications a {
  text-decoration: none;
  color: #000000;
}

#Progress {
  width: 50%;
  background-color: rgb(95, 95, 95);
  margin: auto;
  text-align: center;
  border-radius: 5px;
}

#Bar {
  width: 50%;
  height: 30px;
  background-color: white;
  text-align: center;
  line-height: 30px;
  color: black;
  border-radius: 5px;
}

.journeyTitle {
  text-align: center;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0 auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 2.5rem;
  padding: 2%;
  margin-bottom: 2rem;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  color: white;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.header-item,
.header-item1,
.header-item2 {
  color: black;
  text-align: center;
}

#header-container, #header-container-done {
  width: 80%;
  display: flex;
  margin-bottom: 2rem;
  padding: 1%;
  background-color: rgba(4, 52, 53, 0.4);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

#header-container-done {
  opacity: 30%;
}

#header-container-active {
  width: 80%;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 1%;
  background-color: #DB2F2F;
  border-radius: 10px;
  border: black 3px solid;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.header-item {
  border-radius: 50%;
  flex: 1;
  align-self: center;
  font-size: 4rem;
}

.header-item1 {
  align-self: center;
  flex: 2;
  font-size: 3rem;
}

.header-item2 {
  flex: 3;
  font-size: 1.5rem;
  padding: 8px 35px;
  align-self: center;
}

/* ---------------- MEDIA ---------------- */
@media screen and (max-width: 1288px) {
  /* ---------------- FORM PAGE ---------------- */
  .dropdownMenu {
    width: 95%;
  }
  .formHeading {
    width: 95%;
  }
}
@media screen and (max-width: 1180px) {
  nav ul {
    margin-right: 10px;
  }
  .formInfoBox {
    transform: translate(20px, 20px);
  }
}
@media screen and (max-width: 1030px) {
  /* ---------------- FORM PAGE ---------------- */
  .logoMobile {
    display: unset;
  }
  .logoMobile img {
    width: 200px;
    margin: 1rem;
  }
  .formHeading {
    font-size: 12px;
  }
  .mobileBtnContainer {
    display: block;
    position: fixed;
    right: 20px;
    top: 20px;
    cursor: pointer;
    z-index: 1;
  }
  .mobileBtnContainer div {
    width: 35px;
    height: 3px;
    background-color: rgb(65, 65, 65);
    margin: 5px;
    border-radius: 2px;
    transition: 0.5s ease-in-out;
  }
  .navHeader {
    display: block;
    width: 100%;
    background-color: rgb(0, 0, 0);
    transition: 0.3s ease-in-out;
    position: fixed;
    top: 0;
    transform: translateY(-100%);
  }
  .navHeader ul {
    display: unset;
  }
  .navHeader li {
    margin: 1rem;
    margin-left: 2rem;
  }
  .navHeader a {
    color: rgb(65, 65, 65);
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .navHeader img {
    filter: invert(1);
  }
  .mobileBtnLine1X {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .mobileBtnLine2X {
    opacity: 0;
  }
  .mobileBtnLine3X {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  .navToggle {
    transform: translateY(0);
  }
  footer .navFooter {
    margin-right: 0rem;
    justify-content: flex-start;
  }
  footer .navFooter ul {
    display: block;
    margin-top: 2rem;
  }
  footer .footerLogo {
    padding: 1rem;
  }
  footer .footerLogo img {
    width: 200px;
  }
  footer .footerSlogan {
    width: 80%;
    margin-left: 1rem;
  }
  .backToTopBtn img {
    width: 30px;
  }
  /* ---------------- LANDING PAGE ---------------- */
}
@media screen and (max-width: 940px) {
  /* ---------------- FORM PAGE ---------------- */
  .backGroundMain {
    display: none;
  }
  .logo {
    padding: 0.5rem;
  }
  .logo img {
    width: 250px;
  }
  /* ---------------- LANDING PAGE ---------------- */
  .Top-section {
    flex-direction: column;
  }
  .statusbox {
    width: 90%;
    font-size: inherit;
  }
  .notifications {
    width: 90%;
    font-size: inherit;
  }
  #header-container-done {
    width: 90%;
  }
  #header-container-active {
    width: 90%;
  }
  .journeyTitle {
    width: 90%;
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 800px) {
  /* ---------------- FORM PAGE ---------------- */
  .logo img {
    width: 200px;
  }
  form {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  form div {
    width: 90%;
  }
  form input,
form textarea,
form select {
    padding: 0.4rem;
    margin-bottom: 1.5rem;
    width: auto;
  }
  .titleSpanDiv {
    display: unset;
  }
  .dropdownMenuProgressBar {
    width: 100%;
    margin-top: 15px;
  }
  .formRequirementsParagraph {
    width: 90%;
  }
  /* ---------------- LANDING PAGE ---------------- */
  .Top-section {
    flex-direction: column;
  }
  .statusbox {
    width: 90%;
    font-size: inherit;
  }
  .notifications {
    width: 90%;
    font-size: inherit;
  }
  .wrapper {
    width: 100%;
  }
  .header-item,
.header-item1,
.header-item2 {
    font-size: inherit;
  }
  #header-container {
    width: 90%;
  }
  #header-container-active {
    width: 90%;
  }
  .journeyTitle {
    width: 90%;
    font-size: inherit;
  }
}/*# sourceMappingURL=style.css.map */