* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --------------- SASS VARIABLES --------------- */

$fontLight: rgb(224, 224, 224);
$fontDark: rgb(65, 65, 65);
$fontDarker: rgb(68, 68, 68);
$backGroundDark: rgb(0, 0, 0);
$backGroundLight: rgb(221, 221, 221);
$backGroundLighter: rgb(255, 255, 255);
$backGroundYellow: rgb(252, 252, 195);

$warningRed: rgb(238, 43, 43);
$warningOrange: rgb(226, 105, 5);
$warningGreen: rgb(76, 168, 33);
$uglyGreen: rgba(4, 52, 53, 0.4);

$NCLred: #db2f2f;
$NCLred80: rgb(218, 47, 47, 0.8);
$NCLlucas: rgba(72, 255, 0, 0.8);

// Landing page colours
$todoJourney: rgba(4, 52, 53, 0.4);
$activeJourney: #db2f2f;
$doneJourney: rgba(4, 52, 53, 0.2);

//GOOGLE ICONS

.material-icons,
.material-symbols-outlined {
  font-size: 36px;
  line-height: 0px;
  transform: translate(-5px, 12px);
}

.formInfoIcon {
  font-size: 30px;
  transform: translate(5px, 5px);
  cursor: pointer;
}

/* --------------- COMMON ---------------- */

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  touch-action: manipulation;
}

.logoMobile {
  display: none;
}

.backToTopBtn {
  position: fixed;
  right: 2rem;
  bottom: 3rem;
  background-color: rgba(0, 0, 0, 0.226);
  padding: 0.3rem;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1;

  img {
    filter: invert(33%) sepia(57%) saturate(6837%) hue-rotate(349deg)
      brightness(93%) contrast(83%);
    transform: rotate(180deg);
    width: 40px;
  }
}

/* --------------- BUTTON --------------- */

button {
  padding: 0.7rem;
  cursor: pointer;
  background-color: rgb(65, 102, 172);
  color: white;
  font-family: "Poppins", sans-serif;
  border: none;
  width: 140px;
  margin-bottom: 2rem;
}

/* --------------- FOOTER --------------- */

footer {
  background-color: $backGroundDark;

  p {
    color: $fontLight;
    font-size: 10px;
    margin-top: 2rem;
    padding: 1rem;
  }

  .navFooter {
    display: flex;
    justify-content: flex-end;
    margin-right: 150px;
  }

  .footerLogo {
    -webkit-filter: invert(1);
    filter: invert(1);
    padding: 2rem;
  }

  .footerSlogan {
    color: $fontDark;
    width: 400px;
    margin-left: 3rem;
  }
}

/* --------------- NAVIGATION ---------------- */

.logo {
  padding: 1rem;

  img {
    width: 300px;
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;

  ul {
    display: flex;
    margin-right: 100px;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: $fontDark;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.mobileBtnContainer {
  display: none;
}

/* --------------- FORM PAGE --------------- */

/* --------------- DROPDOWN MENU --------------- */

.formHeading {
  width: 1250px;
  margin: auto;
  color: $fontDark;

  .closeOpenAll {
    display: flex;

    p {
      margin-right: 1.5rem;
      cursor: pointer;
    }
  }
}

.dropdownMenu {
  width: 1250px;
  margin: auto;
  margin-bottom: 400px;
}

.dropdownMenuItemTitle {
  background-color: $NCLred;
  border: solid 1px $fontDark;
  color: $fontLight;
  font-weight: bold;
  padding: 1rem;
  margin-top: 12px;
  cursor: pointer;
  pointer-events: all;
  display: flex;
  justify-content: space-between;

  img {
    width: 20px;
    margin-right: 1rem;
    transform: translate(0px, 5px);
    transition: .3s ease-in-out;
    pointer-events: none;
    touch-action: none;
  }

  span,
  p {
    pointer-events: none;
    touch-action: none;
  }
}

.dropdownMenuItemTitle:hover {
  background: $fontDark;
  color: $fontLight;
}

.dropdownMenuItemData {
  margin: 0;
  overflow: hidden;
  transition: height 0.6s ease-out;
}

.dropdownMenuItemData.hide {
  height: 0;
}

.dropdownMenuItemData.show {
  height: var(--openHeight);
}

.dropdownMenuProgressBar {
  width: 200px;
  /* background-image: linear-gradient(rgb(252, 252, 252), orange); */
  background-color: $fontLight;
  border-radius: 5px;
  border: 1px solid $fontDark;
  text-align: center;
  color: $fontDarker;
}

.dropdownMenuProgressBarComplited {
  background-image: linear-gradient(rgb(252, 252, 252), green);
}

.flipArrow {
  img {
    rotate: -180deg;
    transform: translate(0px, 0px);
  }
}

/* --------------- FORMS --------------- */

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 3rem;
  margin-bottom: 3rem;

  background-color: $fontLight;
  border-left: 1px $fontDark solid;
  border-right: 1px $fontDark solid;
  border-bottom: 1px $fontDark solid;

  img {
    width: 20px;
    opacity: 0.7;
    transform: translate(0, -20px);
    cursor: pointer;
  }

  div {
    display: flex;
    flex-direction: column;
    width: 400px;
  }

  input,
  textarea,
  select {
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    width: 400px;
    outline-color: #35791a;
    font-family: Arial, Helvetica, sans-serif;
  }

  label {
    color: rgb(82, 82, 82);
    font-size: 15px;
  }

  input[type="checkbox"] {
    width: 30px;
    height: 30px;
    margin-top: 1rem;
    align-self: flex-end;
  }

  .formDisabilityBox {
    border-bottom: 1px solid gray;
    margin-bottom: 1rem;
  }
}

.formInfoBox {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  border: 1px solid $fontDark;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: $backGroundYellow;
  position: absolute;
  width: 300px;
  transform: translate(420px, -20px);
  display: none;
  cursor: pointer;
  z-index: 1;
}

.formInfoBoxCloseBtn {
  margin-bottom: 0.5rem;
  text-align: end;
  transform: translate(10px, -5px);

  span {
    font-size: 25px;
  }
}

.formRequirementsParagraph {
  width: 70%;
}

.formRequirementsAcknowledgementBox {
  border: 1px solid $fontDark;
  padding: 1rem;
  margin-bottom: 2rem;
  font-weight: bolder;
}

/* ---------------- LANDING PAGE CSS ---------------- */

.space {
  padding: 0.5%;
}

.Top-section {
  // border: orangered 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 95%;
}

.statusbox,
.notifications {
  // border: orangered 2px solid;
  margin-top: 1%;
  margin-bottom: 2rem;
  width: 90%;
  text-align: center;
  background-color: $activeJourney;
  border-radius: 10px;
  // SHADOWS
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  // box-shadow: 0px 0px 16px 10px rgba(0, 0, 0, 0.3);

  h1 {
    font-size: 45px;
    padding: 2%;
    color: white;
  }

  h2 {
    font-size: 35px;
    padding: 2%;
    color: rgb(46, 44, 44);
  }
}

.notifications {
  h2 {
    font-size: 85px;
    padding: 3%;
    display: inline-block;
    margin-inline: 5%;
  }

  h3 {
    display: inline-block;
    font-size: 35px;
  }

  a {
    text-decoration: none;
    color: rgb(46, 44, 44);
  }
}

#Progress {
  width: 50%;
  background-color: rgb(95, 95, 95);
  margin: auto;
  text-align: center;
  border-radius: 5px;
}

#Bar {
  width: 50%;
  height: 30px;
  background-color: white;
  text-align: center;
  line-height: 30px;
  color: black;
  border-radius: 5px;
}

.journeyTitle {
  text-align: center;
  width: 95%;
  background-color: rgb(0, 0, 0, 0.7);
  margin: 0 auto;
  // border: 1px solid red;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 2%;
  margin-bottom: 2rem;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  color: white;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  // border: 1px solid red;
  max-width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.header-item,
.header-item1,
.header-item2 {
  color: rgb(255, 255, 255);
}
.header-item,
.header-item1 {
  font-size: 1.5rem;
  // border: 1px solid red;
}

.header-item2 {
  font-size: inherit;
}

.header-item p {
  padding-left: 30%;
}

#header-container,
#header-container-done,
#header-container-active {
  width: 95%;
  display: flex;
  margin-bottom: 2rem;
  padding: 1%;
  background-color: $todoJourney;
  border-radius: 10px;
  // border: orangered 2px solid;
  margin-left: auto;
  margin-right: auto;
  // SHADOWS
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

#header-container-done {
  opacity: 25%;
}
#header-container-active .header-item,
#header-container-active .header-item1,
#header-container-active .header-item2 {
  color: white;
}

#header-container-active {
  background-color: $activeJourney;
  border: black 3px solid;
}

.header-item {
  flex: 1;
  align-self: center;
}

.header-item1 {
  align-self: center;
  flex: 2;
}

.header-item2 {
  flex: 3;
  padding: 8px 35px;
  align-self: center;
}

select.formApplication {
  background-color: rgb(95, 95, 95);
  color: #fff;
  padding: 0.4%;
  font-size: 25px;
  width: auto;
  border-radius: 5px;
}
select.formApplication {
  outline: none;
}

/* ---------------- MEDIA ---------------- */

@media screen and (max-width: 1288px) {
  /* ---------------- FORM PAGE ---------------- */

  .dropdownMenu {
    width: 95%;
  }

  .formHeading {
    width: 95%;
  }

  select.formApplication {
    width: auto;
  }
}

@media screen and (max-width: 1180px) {
  nav {
    ul {
      margin-right: 10px;
    }
  }

  .formInfoBox {
    transform: translate(20px, 20px);
  }

  select.formApplication {
    width: auto;
  }

  .Top-section h1,
  .journeyTitle h1 {
    font-size: 2rem;
  }
  .Top-section h2,
  .Top-section h3 {
    font-size: 1.8rem;
  }

  .statusbox,
  .notifications,
  #header-container-done,
  .journeyTitle {
    font-size: inherit;
  }
}

@media screen and (max-width: 1030px) {
  /* ---------------- FORM PAGE ---------------- */

  .logoMobile {
    display: unset;

    img {
      width: 200px;
      margin: 1rem;
    }
  }

  .formHeading {
    font-size: 12px;
  }

  .mobileBtnContainer {
    display: block;
    position: fixed;
    right: 20px;
    top: 20px;
    cursor: pointer;
    z-index: 1;

    div {
      width: 35px;
      height: 3px;
      background-color: $fontDark;
      margin: 5px;
      border-radius: 2px;
      transition: 0.5s ease-in-out;
    }
  }

  .navHeader {
    display: block;
    width: 100%;
    background-color: $backGroundDark;
    transition: 0.3s ease-in-out;
    position: fixed;
    top: 0;
    transform: translateY(-100%);

    ul {
      display: unset;
    }

    li {
      margin: 1rem;
      margin-left: 2rem;
    }

    a {
      color: $fontDark;
      margin-left: 0rem;
      margin-right: 0rem;
    }

    img {
      -webkit-filter: invert(1);
      filter: invert(1);
    }
  }

  .mobileBtnLine1X {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .mobileBtnLine2X {
    opacity: 0;
  }

  .mobileBtnLine3X {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .navToggle {
    transform: translateY(0);
  }

  footer {
    .navFooter {
      margin-right: 0rem;
      justify-content: flex-start;

      ul {
        display: block;
        margin-top: 2rem;
      }
    }

    .footerLogo {
      padding: 1rem;

      img {
        width: 200px;
      }
    }

    .footerSlogan {
      width: 80%;
      margin-left: 1rem;
    }
  }

  .backToTopBtn {
    img {
      width: 30px;
    }
  }

  /* ---------------- LANDING PAGE ---------------- */

  select.formApplication {
    width: auto;
  }

  .statusbox,
  .notifications,
  #header-container-done,
  .journeyTitle {
    font-size: inherit;
  }

  .header-item2 {
    font-size: inherit;
    // font-size: 1.3rem;
  }
}

@media screen and (max-width: 940px) {
  /* ---------------- FORM PAGE ---------------- */

  .backGroundMain {
    display: none;
  }

  .logo {
    padding: 0.5rem;

    img {
      width: 250px;
    }
  }

  /* ---------------- LANDING PAGE ---------------- */

  .Top-section {
    flex-direction: column;
    width: 100%;
  }

  .statusbox,
  .notifications,
  #header-container-done,
  .journeyTitle,
  // .header-item,
  // .header-item1,
  .header-item2 {
    font-size: inherit;
  }

  select.formApplication {
    width: auto;
  }

  .notifications,
  .statusbox {
    width: 95%;
  }
}

@media screen and (max-width: 800px) {
  /* ---------------- FORM PAGE ---------------- */

  .logo {
    img {
      width: 200px;
    }
  }

  form {
    padding-top: 1rem;
    padding-bottom: 1rem;

    div {
      width: 90%;
    }

    input,
    textarea,
    select {
      padding: 0.4rem;
      margin-bottom: 1.5rem;
      width: auto;
    }
  }

  .dropdownMenuItemTitle {
    flex-direction: column;
  }

  .dropdownMenuProgressBar {
    width: 100%;
    margin-top: 15px;
  }

  .formRequirementsParagraph {
    width: 90%;
  }

  /* ---------------- LANDING PAGE ---------------- */
  select.formApplication {
    width: auto;
    max-width: 90%;
  }

  .Top-section {
    flex-direction: column;
  }

  .statusbox,
  .notifications,
  #header-container-done,
  .journeyTitle,
  // .header-item,
  // .header-item1,
  .header-item2 {
    font-size: inherit;
  }
  .wrapper {
    width: 100%;
  }
  .header-item p {
    padding-left: 20%;
  }
}
